# python related
*.pyc

# vim related
*.swp
*.swo

# nohup
nohup.*
*.nohup.out

# app datas
#

# pycharm related, check https://intellij-support.jetbrains.com/hc/en-us/articles/206544839 for detail
.idea
.idea/workspace.xml
.idea/tasks.xml
*.iws

# ignore rope
# we are not using it for now
.ropeproject

# temp files
tmp

# office swp file
.~*

# npm packages
node_modules

# production static files
/static
