{% load staticfiles %}
{% load rest_framework %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>登录</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">


	<style type="text/css">
	.navbar-brand{float:left;display: inline;}
	.message{color: red;font-size: 14;height: 40px;}
	</style>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    
          
      
    <div class="container theme-showcase" role="main">
	    <div class="col-sm-12" style="margin-bottom: 50px">
		    <div class="col-sm-12" style="height:60px;line-height: 60px;margin: 5px auto;">
	        <img alt="logo" src="/static/img/logo_aupres.jpg" style="margin-left: 140px;height:45px;margin-top: 13px"><!--  <h3 style="display:inline;float: left;">&nbsp资生堂丽源化妆品有限公司内部电话通讯录</h3>  -->
		 	</div>
	 	</div>
	 		<div class="col-md-4" ></div>
	 		<div class="col-md-4" style="margin-top: 100px;height: 400px;">
	 			<!-- <div class="col-md-12 column"> -->
			<!-- <form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">用户名：</label><input class="form-control" id="exampleInputEmail1" type="email" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">密&nbsp&nbsp&nbsp&nbsp码：</label><input class="form-control" id="exampleInputPassword1" type="password" />
				</div>
				<div class="message col-md-12"></div>
				<button style="margin-top: 50px" type="submit" class="btn btn-default col-md-12">登录</button>
			</form> -->
			<form action="{% url 'rest_framework:login' %}" role="form" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />

              <div id="div_id_username" class="clearfix control-group {% if form.username.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_username">用户名：</label>
                  <input class="form-control" type="text" name="username" maxlength="100"
                      autocapitalize="off"
                      autocorrect="off" class="form-control textinput textInput"
                      id="id_username" required autofocus
                      {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                  {% if form.username.errors %}
                    <p class="text-error">
                      {{ form.username.errors|striptags }}
                    </p>
                  {% endif %}
                </div>
              </div>

              <div id="div_id_password" class="clearfix control-group {% if form.password.errors %}error{% endif %}">
                <div class="form-group">
                  <label for="id_password">密&nbsp&nbsp&nbsp&nbsp码：</label>
                  <input class="form-control" type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control textinput textInput" id="id_password" required>
                  {% if form.password.errors %}
                    <p class="text-error">
                      {{ form.password.errors|striptags }}
                    </p>
                  {% endif %}
                </div>
              </div>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="well well-small text-error" style="border: none">{{ error }}</div>
                {% endfor %}
              {% endif %}
				<!-- <div class="message col-md-12"></div> -->
				<button style="margin-top: 50px" type="submit" class="btn btn-default col-md-12">登录</button>
              
              <!-- <div class="form-actions-no-box">
                <input type="submit" name="submit" value="登录" class="btn btn-primary form-control" id="submit-id-submit">
              </div> -->
            </form>
		<!-- </div> -->
	 		</div>
		</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
 	<script type="text/javascript">

 </script>
    
    
  </body>
</html>
