<style>
    #region-list #locaff-list-table tbody {
        display: block;
        height: 300px;
        overflow: auto;
    }

    #region-list #locaff-list-table tr, #region-list #locaff-list-table td {
        width: 800px;
    }
</style>
<div class="row">
    <table id="locaff-list-table" class="table table-hover table-striped">
        <tbody>
        </tbody>
    </table>
</div>
<script>
    function loadLocaffs() {
        $.ajax('/locaff/?classify=capital').then(function(locaffs) {
            showLocaffs(locaffs);
        });
    }

    function showLocaffs(locaff_lists) {
        var locaff_table = $('#locaff-list-table');
        _.each(locaff_lists, function(section) {
            var capital = section[0],
                locaffs = section[1];
            locaff_table.append(createCapitalRow(capital));
            _.each(locaffs, function(locaff) {
                var id = locaff[0];
                locaff_table.append(createLocaffRow(locaff));
                $('#locaff-' + id).click(_loadLocaff);
            });
        });
    }

    function createCapitalRow(capital) {
        return '<tr><td>' + capital + '</td></tr>';
    }

    function createLocaffRow(locaff) {
        return '<tr id="' + getLocaffElementId(locaff[0]) + '"><td>' + locaff[1] + '</td></tr>'
    }

    function getLocaffElementId(id) {
        return 'locaff-' + id;
    }

    function _loadLocaff() {
        var id = $(this).attr('id');
        id = id.split('-')[1];
        loadLocaff(parseInt(id));
    }

    $(loadLocaffs);
</script>