<style>
    #region-list #locaff-list-table tbody {
        display: block;
        height: 300px;
        overflow: auto;
    }

    #region-list #locaff-list-table tr, #region-list #locaff-list-table td {
        width: 800px;
    }

    #region-list #searchbox-row {
        height: 40px;
    }
</style>
<div class="row searchbox-row">
    <input id="searchbox" class="form-control" placeholder="以部门关键字搜索">
</div>
<div class="row">
    <table id="locaff-list-table" class="table table-hover table-striped">
        <tbody>
        </tbody>
    </table>
</div>
<script>
    function scrollToCapital(capital) {
        var tr = $('#' + getSectionElementId(capital));
        var locaff_table = $('#locaff-list-table tbody');
        var container = locaff_table,
            scrollTo = tr;
        locaff_table.scrollTop(
            scrollTo.offset().top - container.offset().top + container.scrollTop()
        );
    }

    function loadLocaffs() {
        $.ajax('/locaff/?classify=capital').then(function(locaffs) {
            showLocaffs(locaffs);
        });
    }

    function showLocaffs(locaff_lists) {
        var locaff_table = $('#locaff-list-table');
        _.each(locaff_lists, function(section) {
            var capital = section[0],
                locaffs = section[1];
            locaff_table.append(createCapitalRow(capital));
            _.each(locaffs, function(locaff) {
                var id = locaff[0];
                locaff_table.append(createLocaffRow(locaff));
            });
        });
    }

    function createCapitalRow(capital) {
        return '<tr _id="' + getSectionElementId(capital) +'" class="_capital"><td>' + capital + '</td></tr>';
    }

    function createLocaffRow(locaff) {
        return '<tr _id="' + locaff[0] + '" class="_locaff"><td>' + locaff[1] + '</td></tr>'
    }

    function getSectionElementId(id) {
        return 'capital-' + id;
    }

    function _loadLocaff() {
        var id = $(this).attr('_id');
        loadLocaff(parseInt(id));
    }

    $(loadLocaffs);

    $(function() {
        $('#searchbox').change(function() {
            var text = $(this).val();
            if (text.length) {
                $.ajax({
                    url: '/search',
                    data: {query: text},
                    error: function(e) {alert(e);},
                })
                .then(function(locaffs) {
                    resetTable();
                    var locaff_table = $('#locaff-list-table');
                    _.each(locaffs, function(locaff) {
                        var id = locaff[0];
                        locaff_table.append(createLocaffRow(locaff));
                    });
                });
            } else {
                resetTable();
                loadLocaffs();
            }
        });
    })

    function resetTable() {
        $('#locaff-list-table tr').remove();
    }

    $(function() {
        $('#locaff-list-table').on('click', 'tr._locaff', _loadLocaff);
    })
</script>