<style>
    .title-box {
        padding-left: 8px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .subtitle {
        padding-top: 3px;
        font-size: 1.1em;
    }
    .title {
        font-size: 1.8em;
    }
    .weaken {
        color: #555;
    }
</style>
<div class="row">
    <div class="column col-xs-12">
        <div class="title-box">
            <div id="locaff-name" class="title">{{ locaff }}</div>
            <div id="locaff-department" class="subtitle weaken">{{ department }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column col-xs-6">
        <table class="table">
            <tbody>
            {% for contact in contacts %}
            <tr>
                <td class="weaken">{{ contact.mode }}</td>
                <td>{{ contact.value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function showLocaff(locaff) {
        $('#locaff-name').text(locaff.name);
        $('#locaff-deparment').text(locaff.department);
    }

    function loadLocaff(id) {
        $.ajax({
            url: '/locaff_data/' + id,
            dataType: 'json',
        })
        .then(function(locaff) {
            showLocaff(locaff);
        }, function() {
            alert('load locaff error');
        });
    }
</script>