<style>
    #region-card .title-box {
        padding-left: 8px;
        padding-top: 20px;
        padding-bottom: 10px;

        margin-left: auto;
        margin-right: auto;
    }
    #region-card .subtitle {
        padding-top: 3px;
        font-size: 1.1em;
    }
    #region-card .title {
        font-size: 1.8em;
    }
    #region-card .weaken {
        color: #555;
    }
</style>
<div class="row">
    <div class="column col-xs-12">
        <div class="title-box">
            <div id="locaff-name" class="title">{{ locaff }}</div>
            <div id="locaff-department" class="subtitle weaken">{{ department }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column col-xs-12">
        <table id="locaff-contacts" class="table">
            <tbody>
            {% for contact in contacts %}
            <tr>
                <td class="weaken">{{ contact.mode }}</td>
                <td>{{ contact.value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function loadLocaff(id) {
        $.ajax({
            url: '/locaff/' + id,
            dataType: 'json',
        })
        .then(function(locaff) {
            showLocaff(locaff);
        }, function() {
            alert('load locaff error');
        });
    }

    function showLocaff(locaff) {
        $('#locaff-name').text(locaff.name);
        $('#locaff-department').text(locaff.department);

        $('#locaff-contacts tr').remove();
        var contacts = locaff.contacts;
        var i, len;
        for (i=0, len=contacts.length; i<len; i++) {
            $('#locaff-contacts').append(createContactRow(contacts[i]));
        }
    }

    function createContactRow(contact) {
        return '<tr><td class="weaken">' + contact[0] + '</td><td>' + contact[1] + '</td></tr>';
    }
</script>