{% verbatim %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/static/favicon.ico"> -->

    <title>资生堂</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/ng-grid.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/angular1.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ng-grid.js"></script>
    <style type="text/css">
        .btn-left {
            margin-left: 10px
        }
        
        a {
            cursor: pointer
        }
        
        .top_r {
            position: absolute;
            right: 20px;
            top: 10px;
        }
        
        .ms {
            color: red;
            font-size: 10;
        }
        
        .input {
            width: 200px;
            display: inline;
        }
    </style>
    <script type="text/javascript">
        var department = (
		{% endverbatim %}
		{{ department_tree | safe }}
		{% verbatim %}
		);

        department.unshift({
            "department1": "全部"
        });


        var m1 = angular.module('MyApp', ['ui.bootstrap', 'ngGrid']);
        m1.config([
            '$compileProvider',
            function($compileProvider) {
                $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|tencent|mailto|tel|file|sms):/);
                // Angular v1.2 之前使用 $compileProvider.urlSanitizationWhitelist(...)
            }
        ]);
        m1.config([
            '$httpProvider',
            function($httpProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }
        ]);
        m1.controller('Aaa', ['$scope', '$filter', '$http', '$modal', '$log', function($scope, $filter, $http, $modal, $log) {
                {% endverbatim %}
                $scope.user = {{ user | safe }};
				{% verbatim %}


                //srq department是什么数据结构?
                $scope.selectValue = department[0];
                var sd1 = [];
                $scope.getdata = function() {
                    $http.get("/staffs").success(function(response) {
                        //$scope.gridOptions=response
                        $scope.datas1 = response;
                        sd1 = response;
                    });
                }

                if ($scope.user) {
                    var columnDefs = [{
                            field: 'name',
                            pinned: true,
                            displayName: '姓名',
                            width: '70px'
                        },
                        {
                            field: 'depart1',
                            displayName: '一级部门',
                            width: '110px'
                        },
                        {
                            field: 'depart2',
                            displayName: '二级部门',
                            width: '100px'
                        },
                        {
                            field: 'phone',
                            displayName: '直线号码',
                            width: '120px'
                        },
                        {
                            field: 'extnum',
                            displayName: '分机号',
                            width: '70px'
                        },
                        {
                            field: 'fax',
                            displayName: '传真号码',
                            width: '120px'
                        },
                        {
                            field: 'mobile',
                            displayName: '手机号码',
                            width: '100px'
                        },
                        {
                            field: 'qq',
                            displayName: 'QQ',
                            width: '100px',
                            cellTemplate: '<a href="tencent://message/?uin={{row.getProperty(\'qq\')}}&amp;Site=b.qq.com&amp;Menu=yes">&nbsp;{{row.getProperty(\'qq\')}}</a>'
                        },
                        {
                            field: 'email',
                            displayName: '邮箱',
                            cellTemplate: '<a href="Mailto:{{row.getProperty(\'email\')}};">&nbsp;{{row.getProperty(\'email\')}}</a>'
                        },
                        {
                            field: '',
                            displayName: '编辑',
                            width: '100px',
                            cellTemplate: '<a ng-click="open(\'edit\',row.getProperty(\'id\'))">&nbsp;&nbsp;编辑</a>  <a ng-click="dle(row.getProperty(\'id\'))">删除</a>'
                        }
                    ]
                } else {
                    var columnDefs = [{
                            field: 'name',
                            pinned: true,
                            displayName: '姓名',
                            width: '70px'
                        },
                        {
                            field: 'depart1',
                            displayName: '一级部门',
                            width: '110px'
                        },
                        {
                            field: 'depart2',
                            displayName: '二级部门',
                            width: '100px'
                        },
                        {
                            field: 'phone',
                            displayName: '直线号码',
                            width: '120px'
                        },
                        {
                            field: 'extnum',
                            displayName: '分机号',
                            width: '70px'
                        },
                        {
                            field: 'fax',
                            displayName: '传真号码',
                            width: '120px'
                        },
                        {
                            field: 'mobile',
                            displayName: '手机号码',
                            width: '100px'
                        },
                        {
                            field: 'qq',
                            displayName: 'QQ',
                            width: '100px',
                            cellTemplate: ' <a href="tencent://message/?uin={{row.getProperty(\'qq\')}}&amp;Site=b.qq.com&amp;Menu=yes">&nbsp;{{row.getProperty(\'qq\')}}</a>'
                        },
                        {
                            field: 'email',
                            displayName: '邮箱',
                            cellTemplate: ' <a href="Mailto:{{row.getProperty(\'email\')}}">&nbsp;{{row.getProperty(\'email\')}}</a>'
                        },
                    ]
                }
                var selectRows = [];
                var emails = [];
                $scope.gridOptions = {
                    data: 'datas1',
                    showSelectionCheckbox: true,
                    multiSelect: true,
                    showColumnMenu: true,
                    selectWithCheckboxOnly: true,
                    enableColumnResize: true,
                    enablePinning: true,
                    //checkboxCellTemplate:'<div class="ngSelectionCell"><input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="row.selected" /></div>',
                    //checkboxHeaderTemplate:'<input class="ngSelectionHeader" type="checkbox"  ng-model="allSelected" ng-change="toggleSelectAll(allSelected)"/>',
                    afterSelectionChange: function(a, b) {
                        //console.log(a)
                        if (a.length) {
                            for (var i = 0; i < a.length; i++) {
                                if (a[i].selected) {
                                    selectRows.push(a[i].entity.id);
                                    if (a[i].entity.email != "" && a[i].entity.email != null) {
                                        emails.push(a[i].entity.email);
                                    }
                                } else {
                                    selectRows = [];
                                    emails = [];
                                }
                            }
                        } else {
                            if (a.selected) {
                                selectRows.push(a.entity.id);
                                if (a.entity.email != "" && a.entity.email != null) {
                                    emails.push(a.entity.email);
                                }
                            } else {
                                for (var i = 0; i < selectRows.length; i++) {
                                    if (selectRows[i] == a.entity.id) {
                                        selectRows.splice(i, 1); //取消选中
                                    }
                                }
                            }
                        }
                    },
                    beforeSelectionChange: function(a, b) {
                        //alert(b+"2")
                        return true
                    },
                    columnDefs: columnDefs


                };
                $scope.getdata();

                $scope.departments1 = department;
                //------------当前数据筛选-----------------------------------	
                //srq 什么叫当前数据筛选?

                var sd2 = [];
                var sd3 = [];
                $scope.zxc = function(a) {
                    //$scope.allSelected=false;
                    $scope.gridOptions.selectAll(false);
                    $scope.x = false;
                    $scope.master = false;
                    if (a.department2) {
                        if (a.department2[0].department2 != "全部二级部门") {
                            a.department2.unshift({
                                "department2": "全部二级部门"
                            });
                        };
                        $scope.departments2 = a.department2;
                        $scope.select1Value = a.department2[0];
                    } else {
                        $scope.departments2 = [];
                    }
                    if (a.department1 == "全部") {
                        $scope.datas1 = sd1;
                    } else {
                        $scope.datas1 = $filter('filter')(sd1, a.department1, true);
                    }
                    sd3 = [];
                    sd2 = $scope.datas1;
                }
                $scope.zxc1 = function(a) {
                    $scope.x = false;
                    $scope.master = false;
                    if (a.department2 == "全部二级部门") {
                        $scope.datas1 = sd2;
                    } else {
                        $scope.datas1 = $filter('filter')(sd2, a.department2, true);
                    }
                    sd3 = $scope.datas1;
                }
                $scope.fnFilter = function() {
                    $scope.x = false;
                    $scope.master = false;
                    if (sd3.length == 0) {
                        if (sd2.length == 0) {
                            sd3 = $scope.datas1;
                        } else if (sd2.length != 0) {
                            sd3 = sd2;
                        }
                    }
                    $scope.datas1 = $filter('filter')(sd3, $scope.filterVal);
                }
				// 按回车健查询
				$scope.keypressed = function(keyEvent) {
					if (keyEvent.which == 13) {
						$scope.fnFilter();
					}
				};


                //============ 当前数据筛选 end ===================================


                /* 	----------首页 多选 全选功能---------------- */
                /* 
                var cc=[];//定义数组用于存放前端显示
                $scope.x=false;//默认未选中
                $scope.all= function (c) {//全选
                	idArray=[];
                		for (var i=0;i<$scope.datas1.length;i++){
                			idArray.push($scope.datas1[i].id);
                		}
                	if(!c){
                		cc=idArray;
                		$scope.x=true;
                	}else{
                		$scope.x=false;
                		cc=[];
                	}
                };
                $scope.chk= function (z,x,e) {//单选或者多选
                	if (x) {//选+中
                		for(var i=0 ;i<cc.length;i++){
                			if(cc[i]==z){
                				cc.splice(i,1);//取消选中
                			}
                		}
                	} else {
                		cc.push(z);
                	}
                		
                }; */

                /* 	----------首页 多选 全选功能 end---------------- */
                /* 	----------首页 编辑功能---------------- */

                /* 	----------首页 编辑功能 end---------------- */
                /* 	----------首页 编辑功能---------------- */

                $scope.dle = function(id) {
                    if (confirm("确认删除吗？")) {
                        $http({
                            url: '/staffs/' + id,
                            method: 'delete'
                        }).success(function(data, header, config, status) {
                            //响应成功
                            if (header == 204) {
                                $http.get("/staffs").success(function(response) {
                                    $scope.datas1 = response;
                                    sd1 = response;
                                });
                            }
                        }).error(function(data, header, config, status) {
                            //处理响应失败
                            if (header == 404) {
                                alert("删除失败！")
                            }
                        });
                        //打开编辑窗口 
                    }
                }
                /* 	----------首页 编辑功能 end---------------- */
                /* 	----------首页 多选下载功能---------------- */
                $scope.download = function() { // 操作CURD
                    //alert(selectRows)
                    if (selectRows[0] === "" || selectRows.length == 0) { //没有选择一个的时候提示
                        alert("请选择要下载的名单！")
                        return;
                    };
                    var idlist = selectRows.join(',');
                    var form = $("<form>"); //定义一个form表单
                    form.attr('style', 'display:none'); //在form表单中添加查询参数
                    form.attr('target', '');
                    form.attr('method', 'post');
                    form.attr('action', "/export");

                    var input1 = $('<input>');
                    input1.attr('type', 'hidden');
                    input1.attr('name', 'id_list');
                    input1.attr('value', idlist);

                    $('body').append(form); //将表单放置在web中
                    form.append(input1); //将查询参数控件提交到表单上
                    form.submit();
                    //window.location.href="/export?id_list="+idlist; 

                };
                /* 	----------首页 多选下载功能 end---------------- */
                $scope.toEmails = function() {
                    if (emails[0] === "" || emails.length == 0) { //没有选择一个的时候提示
                        alert("请选择要发送邮件的名单！")
                        return;
                    };
                    var emls = emails.join(';');
                    window.location.href = "Mailto:" + emls;
                }
                /* 	----------首页 添加到我的通讯录功能---------------- */
                $scope.add = function() { // 操作CURD
                    if (cc[0] === "" || cc.length == 0) { //没有选择一个的时候提示
                        alert("请选择要添加的名片！")
                        return;
                    };

                    /* for(var i=0;i<cc.length;i++){
                    	console.log(cc[i]);//遍历选中的id
                    } */
                };
                /* 	----------首页 添加到我的通讯录功能end---------------- */

                //$scope.items = [ 'angularjs', 'backbone', 'canjs', 'Ember', 'react' ];
                // open click
                $scope.open = function(str, id) {

                    $scope.departs1 = department;
                    if (str == "login") {
                        var sisz = ""
                    } else {
                        var sisz = "lg"
                    }
                    var modalInstance = $modal.open({
                        templateUrl: 'myModelContent.html',
                        controller: 'ModalInstanceCtrl', // specify controller for modal
                        size: sisz,
                        backdrop: false,
                        //keyboard:false,
                        resolve: {
                            str: function() {
                                return {
                                    "str": str,
                                    "id": id
                                };
                            },
                            depart: function() {
                                return $scope.departs1;
                            }
                        }
                    });


                    // modal return result
                    modalInstance.result.then(function(string) {
                        if (string == 0) {
                            $scope.getdata();
                        }
                    })
                }
            }])
            .controller('ModalInstanceCtrl', function($scope, $http, $modalInstance, str, depart) {
                $scope.ctrlScope = {};
                if (depart[0].department1 == "全部") {
                    depart.splice(0, 1)
                }

                $scope.departs1 = depart;
                $scope.depart1 = depart[0]
                $scope.change2 = function(s) {
                    //alert(s.department2)
                    //alert(JSON.stringify(s))
                    $scope.depart2 = s;
                }
                $scope.change1 = function(s) {
                    $scope.depart1 = s;
                    if (s.department2) {
                        $scope.bool = 1;
                        $scope.departs2 = s.department2;
                        $scope.depart2 = s.department2[0];
                    } else {
                        $scope.bool = 2;
                        $scope.departs2 = [];
                        $scope.depart2 = null;
                    };
                }
                if (str.str == 'login') {
                    $scope.ck = 1
                    $scope.title = "登录"
                }
                if (str.str == 'add') {
                    $scope.ck = 2
                    $scope.title = "添加"
                }
                if (str.str == "edit") {
                    $scope.ck = 2
                    $scope.title = "编辑"
                    $http.get("/staffs/" + str.id).success(function(response) {
                        var dep2 = {}
                        $scope.ctrlScope.name = response.name;
                        $scope.ctrlScope.email = response.email;
                        $scope.ctrlScope.qq = response.qq;
                        $scope.ctrlScope.phone = response.phone;
                        $scope.ctrlScope.ip = response.ip;
                        $scope.ctrlScope.extnum = response.extnum;
                        $scope.ctrlScope.fax = response.fax;
                        $scope.ctrlScope.mobile = response.mobile;
                        //$scope.bool=1;
                        $scope.departs1 = depart;
                        for (var i = 0; i < $scope.departs1.length; i++) {
                            if ($scope.departs1[i].department1 == response.depart1) {
                                $scope.depart1 = $scope.departs1[i];
                                $scope.change1($scope.depart1)
                                if ($scope.depart1.department2) {
                                    for (var j = 0; j < $scope.depart1.department2.length; j++) {
                                        if ($scope.depart1.department2[j].department2 == response.depart2) {
                                            //alert(1)
                                            dep2 = $scope.depart1.department2[j];
                                        }
                                    }
                                }
                            }
                        }
                        $scope.depart2 = dep2;
                    });
                }



                // ok click
                $scope.login = function() {
                    $http({
                        url: '/login',
                        method: 'post',
                        data: {
                            username: $scope.ctrlScope.username,
                            password: $scope.ctrlScope.password,
                        }
                    }).success(function(data, header, config, status) {
                        $modalInstance.close(0);
                    }).error(function(data, header, config, status) {
                        $scope.m = 1;
                        $scope.ms = "登录失败！用户名或密码错误!";
                        //处理响应失败
                    });
                }
                $scope.ok = function() {
                    var b = {};
                    if ($scope.depart2 == null) {
                        b = {
                            name: $scope.ctrlScope.name,
                            email: $scope.ctrlScope.email,
                            phone: $scope.ctrlScope.phone,
                            qq: $scope.ctrlScope.qq,
                            ip: $scope.ctrlScope.ip,
                            extnum: $scope.ctrlScope.extnum,
                            fax: $scope.ctrlScope.fax,
                            mobile: $scope.ctrlScope.mobile,
                            depart1: $scope.depart1.department1,
                            depart2: $scope.depart1.department1
                        }
                    } else {
                        b = {
                            name: $scope.ctrlScope.name,
                            email: $scope.ctrlScope.email,
                            phone: $scope.ctrlScope.phone,
                            qq: $scope.ctrlScope.qq,
                            ip: $scope.ctrlScope.ip,
                            extnum: $scope.ctrlScope.extnum,
                            fax: $scope.ctrlScope.fax,
                            mobile: $scope.ctrlScope.mobile,
                            depart1: $scope.depart1.department1,
                            depart2: $scope.depart2.department2
                        }
                    }
                    console.log(b)
                    if (str.str == 'add') {
                        $http.post('/staffs', b).success(function() {
                            $modalInstance.close(0);
                        });
                    };
                    if (str.str == 'edit') {
                        $http({
                            url: '/staffs/' + str.id,
                            method: 'put',
                            data: b
                        }).success(function(data, header, config, status) {
                            $modalInstance.close(0);
                        }).error(function(data, header, config, status) {
                            //处理响应失败
                        });
                    }
                    //$modalInstance.dismiss('cancel');
                };
                // cancel click
                $scope.cancel = function() {
                    $modalInstance.dismiss('cancel');
                }
            });
    </script>
</head>

<body role="document" ng-app="MyApp" ng-controller="Aaa">
    <script type="text/ng-template" id="myModelContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body" ng-if="ck==2">
            <div style="margin: 10px auto;width: 80%">
                <form action="">
                    <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input ng-model="ctrlScope.name" class="form-control input" type="text" required /><br>
                    <label>部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门：</label>
                    <label>
						<select class="form-control input" ng-model="depart1"  ng-change="change1(depart1)" ng-options="item.department1 for item in departs1" style="width: 150px;height: 30px;font-size:12px"></select>
					</label>
                    <label>
					 <select ng-if="bool==1" class="form-control input" ng-model="depart2"  ng-change="change2(depart2)" ng-options="item1.department2 for item1 in departs2" style="width: 150px;height: 30px;font-size:12px"></select>
					</label>
                    <br>
                    <label>分机号码：</label><input class="form-control input" ng-model="ctrlScope.extnum" type="text" required /><br>
                    <label>直线号码：</label><input class="form-control input" ng-model="ctrlScope.phone" type="text" required /><br>
                    <label>传真号码：</label><input class="form-control input" ng-model="ctrlScope.fax" type="text" required /><br>
                    <label>手机号码：</label><input class="form-control input" ng-model="ctrlScope.mobile" type="text" required /><br>
                    <label>Q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q：</label><input class="form-control input" ng-model="ctrlScope.qq" type="text" required /><br>
                    <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label><input class="form-control input" ng-model="ctrlScope.email" type="text" required /><br>
                    <label>IP&nbsp;&nbsp;地&nbsp;&nbsp;址：</label><input class="form-control input" ng-model="ctrlScope.ip" type="text" required /><br>
                </form>
            </div>
        </div>
        <div class="modal-body" ng-if="ck==1">
            <div style="margin: 10px auto;width: 80%">
                <form action="">
                    <label>账号：</label><input class="input" ng-model="username" type="text" required /><br>
                    <label>密码：</label><input class="input" ng-model="password" type="text" required /><br>
                </form>
                <div class="ms" ng-if "m==0">{{ms}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-if="ck==2" class="btn btn-primary" ng-click="ok()">确认</button>
            <button ng-if="ck==1" class="btn btn-primary" ng-click="login()">登录</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
    {% endverbatim %}
    <div class="top_r" ng-if="!user"><a href="/auth/login/?next={% url "main" %}">登录</a></div>
    <div class="top_r" ng-if="user">当前用户： {{ username | safe }} &nbsp&nbsp<a href="/auth/logout/?next={% url "main" %}">注销</a></div>
    {% verbatim %}
    <!-- Fixed navbar -->
    <div class="container theme-showcase" role="main">
        <div class="col-sm-12" style="margin-bottom: 10px">
            <div class="col-sm-12" style="height:60px;line-height: 60px;margin: 5px 0;">
                <img alt="logo" src="/static/img/logo_aupres.jpg" style="margin-left: 0px;height:45px;margin-top: 13px">
                <!--  <h3 style="display:inline;float: left;">&nbsp资生堂丽源化妆品有限公司内部电话通讯录</h3>  -->
            </div>
        </div>
        <div class="col-sm-12" style="height: 20px"></div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-800645">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-455321" data-toggle="tab">全部通讯录</a>
                        </li>
                        <!-- <li>
								 <a href="#panel-602750" data-toggle="tab">我的通讯录</a>
							</li> -->

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-455321">
                            <div class="col-sm-12" style="margin: 30px 0;margin-bottom: 0">
                                <div style="display: inline;float: left;height: 60px">
                                    <table>
                                        <tr>
                                            <td>
                                                <label style="display: inline;line-height: 40px;height: 40px">按部门筛选：</label>
                                            </td>
                                            <td>
                                                <label style="display: inline;float: left">
										 <select class="form-control" ng-model="selectValue"  ng-change="zxc(selectValue)" ng-options="item.department1 for item in departments1" style="width: 150px;height: 30px;font-size:12px"></select>
										</label>
                                            </td>
                                            <td ng-if="departments2.length>0">
                                                <label style="display: inline;float: left">
										<select ng-if="departments2.length>0" class="form-control" ng-model="select1Value"  ng-change="zxc1(select1Value)" ng-options="item1.department2 for item1 in departments2" style="width: 150px;height: 30px;font-size:12px"></select>
										</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="input-group col-sm-2" style="width: 200px;position:relative;top:2px">
                                    <input type="text" class="form-control" style="height: 30px;" ng-model="filterVal" ng-keypress="keypressed($event)">
                                    <span class="input-group-btn">
											<button class="btn btn-default" type="button" style="height: 30px;" ng-click="fnFilter()">
												查询
											</button>
										</span>
                                </div>
                            </div>
                            <div style="margin-left: 25px">
                                <!-- <input type="checkbox" ng-model="master" ng-click="all(master)">  -->
                                <!-- <label class="btn-left">
										<button class="btn btn-sm" ng-click="add()">添加到我的通讯录</button>
									</label> -->
                                <label class="btn-left">
										<button class="btn btn-sm" ng-click="download()">下载</button>
									</label>
                                <label class="btn-left">
										<button class="btn btn-sm" ng-click="toEmails()">群发邮件</button>
									</label>
                                <label class="btn-left" ng-if="user">
										<button class="btn btn-sm" ng-click="open('add')">添加</button>
									</label>
                            </div>
                            <div class="col-sm-12" style="height: 600px;overflow-y: auto">
                                {{ selectRow }}
                                <div class="col-sm-12 table table-striped table-bordered" style="height: 500px;overflow-y: auto" ng-grid="gridOptions"></div>
                                <!-- <table class="col-sm-12 table table-striped table-bordered">
										<tr>
											<th></th>
											<th>姓名</th>
											<th>一级部门</th>
											<th>二级部门</th>
											<th>分机号</th>
											<th>直线号码</th>
											<th>传真号码</th>
											<th>手机号码</th>
											<th>QQ</th>
											<th>邮箱</th>
											<th>IP地址</th>
											<th ng-if="user" >编辑</th>
										</tr>
										<tr ng-repeat="data in datas1 track by $index">
											<td><input type="checkbox" id={{data.id}} ng-model="x" ng-checked="master" ng-click="chk(data.id,x,data.email)"></td>
											<td>{{data.name}}</td>
											<td>{{data.depart1}}</td>
											<td>{{data.depart2}}</td>
											<td>{{data.extnum}}</td>
											<td>{{data.phone}}</td>
											<td>{{data.fax}}</td>
											<td>{{data.mobile}}</td>
											<td><a href="tencent://message/?uin={{data.qq}}&amp;Site=www.xxx.com&amp;Menu=yes">{{data.qq}}</a></td>
											<td><a href="Mailto:{{data.email}}">{{data.email}}</a></td>
											<td>{{data.ip}}</td>
											<td ng-if="user">
												 <a ng-click="open('edit',data.id)">编辑</a>
												 <a ng-click="dle(data.id)">删除</a>
											</td>
										</tr>
									</table> -->
                            </div>
                            <div class="col-sm-12" style="height: 60px"></div>
                        </div>
                        <!--<div class="tab-pane" id="panel-602750">
							<div class="col-sm-3" style="height:700px;margin: 30px 0;border-right: 1px #ddd solid;overflow-y: auto">
								<div style="margin: 10px 0">
									<a>我的通讯录 </a>
									<div style="display: inline;float: right;">
										<button class="btn btn-info btn-xs">新建分组</button>
									</div>
								</div>
								<div style="margin: 10px 0">
									<a>&nbsp&nbsp常用通讯录 </a>
									<div style="display: inline;float: right;">
										<button class="btn btn-info btn-xs">编辑</button>
										<button class="btn btn-info btn-xs">删除</button>
									</div>
								</div>
								<div style="margin: 10px 0">
									<a>&nbsp&nbsp常用通讯录 </a>
									<div style="display: inline;float: right;">
										<button class="btn btn-info btn-xs">编辑</button>
										<button class="btn btn-info btn-xs">删除</button>
									</div>
								</div>
								
							</div>
							<div class="col-sm-9">
								
								<div style="margin-top: 30px;">
									<input type="checkbox"> 
									<label  class="btn-left">
										<button class="btn btn-info btn-sm">移动</button>
									</label>
									<label  class="btn-left">
										<button class="btn btn-info btn-sm">删除</button>
									</label>
									<label  class="btn-left">
										<button class="btn btn-info btn-sm">下载</button>
									</label>
									<label  class="btn-left">
										<button class="btn btn-info btn-sm">发送邮件</button>
									</label>
								</div>
								<div class="col-sm-12" style="height: 600px;overflow-y: auto">
									<table class="col-sm-12 table table-striped table-bordered">
										<tr>
											<th></th>
											<th>姓名</th>
											<th>部门一</th>
											<th>部门二</th>
											<th>号码</th>
											<th>邮箱</th>
											<th>QQ</th>
											<th>其他</th>
											<th>编辑</th>
										</tr>
										<tr ng-repeat="data in datas track by $index">
											<td><input type="checkbox"></td>
											<td>张三</td>
											<td>部门一</td>
											<td>部门二</td>
											<td>1311111111</td>
											<td>123@123.123</td>
											<td>123123</td>
											<td></td>
											<td>编辑</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="col-sm-12" style="height: 60px"></div>
							</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endverbatim %}
