<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Address Book</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
    </head>
    <style>
        .container {
            max-width: 720px;
        }

        #region-list {
            height: 300px;
        }

        #region-card {
            height: 300px;
        }
    </style>
    <body>
        <div class="container">
            <div class="row navbar"></div>
            <div class="row">
                <div id="region-list" class="column col-xs-5">
                    {% include "addresslist/locaff_list.html" %}
                </div>
                <div id="region-card" class="column col-xs-7">
                    {% include "addresslist/locaff.html" %}
                </div>
            </div>
            <!-- <button class="button" onclick="loadLocaff(2500)">loadLocaff</button> -->
        </div>
    </body>
</html>