{% verbatim %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/static/favicon.ico"> -->

    <title>内部通讯录</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/ng-grid.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/angular1.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ng-grid.js"></script>
    <style type="text/css">
        .row {
            margin-bottom: 1.5em;
        }
        
        a {
            cursor: pointer
        }

        /* 整个屏幕右上角 */
        .top_right {
            position: absolute;
            right: 20px;
            top: 10px;
        }
        
        .input {
            width: 200px;
            display: inline;
        }
    </style>
    <script type="text/javascript">
        var m1 = angular.module('MyApp', ['ui.bootstrap', 'ngGrid']);

        m1.config([
            '$compileProvider',
            function($compileProvider) {
                $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|tencent|mailto|tel|file|sms):/);
                // Angular v1.2 之前使用 $compileProvider.urlSanitizationWhitelist(...)
            }
        ]);

        m1.config([
            '$httpProvider',
            function($httpProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }
        ]);

        var department = (function prepareDepartments() {
            var departments = (
            {% endverbatim %}
            {{ department_tree | safe }}
            {% verbatim %}
            );

            departments.unshift({
                "department1": "全部部门",
                isAll: true
            });

            var i, d, len=departments.length;
            for (i=0; i<len; i++) {
                d = departments[i];
                if (d.department2 && d.department2.length) {
                    d.department2.unshift({
                        "department2": "全部二级部门",
                        isAll: true
                    });
                }
            }

            return departments;
        })();

        m1.controller('Aaa', ['$scope', '$filter', '$http', '$modal', '$log', function($scope, $filter, $http, $modal, $log) {
                {% endverbatim %}
                $scope.user = {{ user | safe }};
                {% verbatim %}

                var columnDefs = []

                if ($scope.user) {
                    columnDefs = [{
                            field: 'name',
                            pinned: true,
                            displayName: '姓名',
                            width: '70px'
                        },
                        {
                            field: 'staff_num',
                            pinned: true,
                            displayName: '员工号',
                            width: '100px'
                        },
                        {
                            field: 'depart1',
                            displayName: '一级部门',
                            width: '110px'
                        },
                        {
                            field: 'depart2',
                            displayName: '二级部门',
                            width: '100px'
                        },
                        {
                            field: 'phone',
                            displayName: '直线号码',
                            width: '120px'
                        },
                        {
                            field: 'extnum',
                            displayName: '分机号',
                            width: '70px'
                        },
                        {
                            field: 'fax',
                            displayName: '传真号码',
                            width: '120px'
                        },
                        {
                            field: 'mobile',
                            displayName: '手机号码',
                            width: '100px'
                        },
                        {
                            field: 'email',
                            displayName: '邮箱',
                            cellTemplate: '<a href="Mailto:{{row.getProperty(\'email\')}};">&nbsp;{{row.getProperty(\'email\')}}</a>'
                        },
                        {
                            field: '',
                            displayName: '编辑',
                            width: '100px',
                            cellTemplate: '<a ng-click="open(\'edit\',row.getProperty(\'id\'))">&nbsp;&nbsp;编辑</a>  <a ng-click="dle(row.getProperty(\'id\'))">删除</a>'
                        }
                    ]
                } else {
                    columnDefs = [{
                            field: 'name',
                            pinned: true,
                            displayName: '姓名',
                            width: '70px'
                        },
                        {
                            field: 'staff_num',
                            pinned: true,
                            displayName: '员工号',
                            width: '100px'
                        },
                        {
                            field: 'depart1',
                            displayName: '一级部门',
                            width: '110px'
                        },
                        {
                            field: 'depart2',
                            displayName: '二级部门',
                            width: '100px'
                        },
                        {
                            field: 'phone',
                            displayName: '直线号码',
                            width: '120px'
                        },
                        {
                            field: 'extnum',
                            displayName: '分机号',
                            width: '70px'
                        },
                        {
                            field: 'fax',
                            displayName: '传真号码',
                            width: '120px'
                        },
                        {
                            field: 'mobile',
                            displayName: '手机号码',
                            width: '100px'
                        },
                        {
                            field: 'email',
                            displayName: '邮箱',
                            cellTemplate: ' <a href="Mailto:{{row.getProperty(\'email\')}}">&nbsp;{{row.getProperty(\'email\')}}</a>'
                        },
                    ]
                }


                var allItems = [];

                $scope.reloadData = function() {
                    return $http.get("/staffs").success(function(response) {
                        allItems = response;
                    });
                }

                $scope.refresh = function() {
                    $scope.reloadData().then(function() {
                        $scope.applyFilter();
                    });
                };


                var selectRows = [];
                var emails = [];
                $scope.gridOptions = {
                    data: 'datas1',
                    showSelectionCheckbox: true,
                    multiSelect: true,
                    showColumnMenu: true,
                    selectWithCheckboxOnly: true,
                    enableColumnResize: true,
                    enablePinning: true,
                    //checkboxCellTemplate:'<div class="ngSelectionCell"><input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="row.selected" /></div>',
                    afterSelectionChange: function(a, b) {
                        //console.log(a)
                        if (a.length) {
                            for (var i = 0; i < a.length; i++) {
                                if (a[i].selected) {
                                    selectRows.push(a[i].entity.id);
                                    if (a[i].entity.email != "" && a[i].entity.email != null) {
                                        emails.push(a[i].entity.email);
                                    }
                                } else {
                                    selectRows = [];
                                    emails = [];
                                }
                            }
                        } else {
                            if (a.selected) {
                                selectRows.push(a.entity.id);
                                if (a.entity.email != "" && a.entity.email != null) {
                                    emails.push(a.entity.email);
                                }
                            } else {
                                for (var i = 0; i < selectRows.length; i++) {
                                    if (selectRows[i] == a.entity.id) {
                                        selectRows.splice(i, 1); //取消选中
                                    }
                                }
                            }
                        }
                    },
                    beforeSelectionChange: function(a, b) {
                        //alert(b+"2")
                        return true
                    },
                    columnDefs: columnDefs


                };
                $scope.refresh();

                $scope.departments1 = department;
                //------------当前数据筛选-----------------------------------    

                $scope.expandSelector = function(a) {
                    if (a.department2) {
                        $scope.selDepart2 = a.department2[0];
                    }
                };

                function validateDepart2() {
                    if (!$scope.selDepart1.department2) {
                        $scope.selDepart2 = null;
                    } else {
                        var depart2s = $scope.selDepart1.department2;
                        var depart, i;
                        for (i=0; i<depart2s.length; i++) {
                            depart = depart2s[i];
                            if (depart === $scope.selDepart2) {
                                return;
                            }
                        }
                        $scope.selDepart2 = null;
                    }
                }

                // filter meta
                $scope.selDepart1 = department[0];
                $scope.selDepart2 = null;
                $scope.filterVal = '';

                $scope.applyFilter = function() {
                    $scope.gridOptions.selectAll(false);

                    validateDepart2();

                    var items = allItems;

                    if ($scope.selDepart1) {
                        if (!$scope.selDepart1.isAll) {
                            items = $filter('filter')(items, $scope.selDepart1.department1, true);
                        }
                    }

                    if ($scope.selDepart2) {
                        var keyText = $scope.selDepart2.department2;
                        if (!$scope.selDepart2.isAll) {
                            items = $filter('filter')(items, keyText, true);
                        }
                    }

                    if ($scope.filterVal) {
                        items = $filter('filter')(items, $scope.filterVal);
                    }

                    $scope.datas1 = items;
                };

                // 按回车健查询
                $scope.keypressed = function(keyEvent) {
                    if (keyEvent.which == 13) {
                        $scope.applyFilter();
                    }
                };


                //============ 当前数据筛选 end ===================================


                /*     ----------首页 编辑功能---------------- */

                $scope.dle = function(id) {
                    if (confirm("确认删除吗？")) {
                        $http({
                            url: '/staffs/' + id,
                            method: 'delete'
                        }).success(function(data, header, config, status) {
                            //响应成功
                            if (header == 204) {
                                $scope.refresh();
                            }
                        }).error(function(data, header, config, status) {
                            //处理响应失败
                            if (header == 404) {
                                alert("删除失败！")
                            }
                        });
                        //打开编辑窗口 
                    }
                }
                /*     ----------首页 编辑功能 end---------------- */
                /*     ----------首页 多选下载功能---------------- */
                $scope.download = function() { // 操作CURD
                    //alert(selectRows)
                    if (selectRows[0] === "" || selectRows.length == 0) { //没有选择一个的时候提示
                        alert("请选择要下载的名单！")
                        return;
                    };
                    var idlist = selectRows.join(',');
                    var form = $("<form>"); //定义一个form表单
                    form.attr('style', 'display:none'); //在form表单中添加查询参数
                    form.attr('target', '');
                    form.attr('method', 'post');
                    form.attr('action', "/export");

                    var input1 = $('<input>');
                    input1.attr('type', 'hidden');
                    input1.attr('name', 'id_list');
                    input1.attr('value', idlist);

                    $('body').append(form); //将表单放置在web中
                    form.append(input1); //将查询参数控件提交到表单上
                    form.submit();
                    //window.location.href="/export?id_list="+idlist; 

                };
                /*     ----------首页 多选下载功能 end---------------- */
                $scope.toEmails = function() {
                    if (emails[0] === "" || emails.length == 0) { //没有选择一个的时候提示
                        alert("请选择要发送邮件的名单！")
                        return;
                    };
                    var emls = emails.join(';');
                    window.location.href = "Mailto:" + emls;
                }

                //$scope.items = [ 'angularjs', 'backbone', 'canjs', 'Ember', 'react' ];
                // open click
                $scope.open = function(str, id) {
                    $scope.departs1 = department;
                    var modalInstance = $modal.open({
                        templateUrl: 'myModelContent.html',
                        controller: 'ModalInstanceCtrl', // specify controller for modal
                        size: "lg",
                        backdrop: false,
                        //keyboard:false,
                        resolve: {
                            str: function() {
                                return {
                                    "str": str,
                                    "id": id
                                };
                            },
                            depart: function() {
                                return $scope.departs1;
                            }
                        }
                    });

                    // modal return result
                    modalInstance.result.then(function(string) {
                        if (string == 0) {
                            $scope.refresh();
                        }
                    })
                }
            }])
            .controller('ModalInstanceCtrl', function($scope, $http, $modalInstance, str, depart) {

                $scope.ctrlScope = {};
                if (depart[0].department1 == "全部部门") {
                    depart.splice(0, 1)
                }

                $scope.departs1 = depart;
                $scope.depart1 = depart[0]
                $scope.change2 = function(s) {
                    //alert(s.department2)
                    //alert(JSON.stringify(s))
                    $scope.depart2 = s;
                }
                $scope.change1 = function(s) {
                    $scope.depart1 = s;
                    if (s.department2) {
                        $scope.bool = 1;
                        $scope.departs2 = s.department2;
                        $scope.depart2 = s.department2[0];
                    } else {
                        $scope.bool = 2;
                        $scope.departs2 = [];
                        $scope.depart2 = null;
                    };
                }
                if (str.str == 'add') {
                    $scope.title = "添加"
                }
                if (str.str == "edit") {
                    $scope.title = "编辑"
                    $http.get("/staffs/" + str.id).success(function(response) {
                        var dep2 = {}
                        $scope.ctrlScope.name = response.name;
                        $scope.ctrlScope.staff_num = response.staff_num;
                        $scope.ctrlScope.email = response.email;
                        $scope.ctrlScope.phone = response.phone;
                        $scope.ctrlScope.extnum = response.extnum;
                        $scope.ctrlScope.fax = response.fax;
                        $scope.ctrlScope.mobile = response.mobile;
                        //$scope.bool=1;
                        $scope.departs1 = depart;
                        for (var i = 0; i < $scope.departs1.length; i++) {
                            if ($scope.departs1[i].department1 == response.depart1) {
                                $scope.depart1 = $scope.departs1[i];
                                $scope.change1($scope.depart1)
                                if ($scope.depart1.department2) {
                                    for (var j = 0; j < $scope.depart1.department2.length; j++) {
                                        if ($scope.depart1.department2[j].department2 == response.depart2) {
                                            //alert(1)
                                            dep2 = $scope.depart1.department2[j];
                                        }
                                    }
                                }
                            }
                        }
                        $scope.depart2 = dep2;
                    });
                }

                $scope.ok = function() {
                    var b = {};
                    if ($scope.depart2 == null) {
                        b = {
                            name: $scope.ctrlScope.name,
                            staff_num: $scope.ctrlScope.staff_num,
                            email: $scope.ctrlScope.email,
                            phone: $scope.ctrlScope.phone,
                            extnum: $scope.ctrlScope.extnum,
                            fax: $scope.ctrlScope.fax,
                            mobile: $scope.ctrlScope.mobile,
                            depart1: $scope.depart1.department1,
                            depart2: $scope.depart1.department1
                        }
                    } else {
                        b = {
                            name: $scope.ctrlScope.name,
                            staff_num: $scope.ctrlScope.staff_num,
                            email: $scope.ctrlScope.email,
                            phone: $scope.ctrlScope.phone,
                            extnum: $scope.ctrlScope.extnum,
                            fax: $scope.ctrlScope.fax,
                            mobile: $scope.ctrlScope.mobile,
                            depart1: $scope.depart1.department1,
                            depart2: $scope.depart2.department2
                        }
                    }
                    console.log(b)
                    if (str.str == 'add') {
                        $http.post('/staffs', b).success(function() {
                            $modalInstance.close(0);
                        });
                    };
                    if (str.str == 'edit') {
                        for (k in b) {
                            if (b.hasOwnProperty(k) && b[k] === undefined) {
                                b[k] = null;
                            }
                        }
                        $http({
                            url: '/staffs/' + str.id,
                            method: 'put',
                            data: b
                        }).success(function(data, header, config, status) {
                            $modalInstance.close(0);
                        }).error(function(data, header, config, status) {
                            //处理响应失败
                        });
                    }
                    //$modalInstance.dismiss('cancel');
                };
                // cancel click
                $scope.cancel = function() {
                    $modalInstance.dismiss('cancel');
                }
            });
    </script>
</head>

<body role="document" ng-app="MyApp" ng-controller="Aaa">
    <script type="text/ng-template" id="myModelContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <div style="margin: 10px auto;width: 80%">
                <form action="">
                    <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input ng-model="ctrlScope.name" class="form-control input" type="text" required /><br>
                    <label>员工号：&nbsp;&nbsp;&nbsp;&nbsp;</label><input ng-model="ctrlScope.staff_num" class="form-control input" type="text"><br>
                    <label>部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门：</label>
                    <label>
                        <select class="form-control input" ng-model="depart1"  ng-change="change1(depart1)" ng-options="item.department1 for item in departs1" style="width: 150px;height: 30px;font-size:12px"></select>
                    </label>
                    <label>
                     <select ng-if="bool==1" class="form-control input" ng-model="depart2"  ng-change="change2(depart2)" ng-options="item1.department2 for item1 in departs2" style="width: 150px;height: 30px;font-size:12px"></select>
                    </label>
                    <br>
                    <label>分机号码：</label><input class="form-control input" ng-model="ctrlScope.extnum" type="text" required /><br>
                    <label>直线号码：</label><input class="form-control input" ng-model="ctrlScope.phone" type="text" required /><br>
                    <label>传真号码：</label><input class="form-control input" ng-model="ctrlScope.fax" type="text" required /><br>
                    <label>手机号码：</label><input class="form-control input" ng-model="ctrlScope.mobile" type="text" required /><br>
                    <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label><input class="form-control input" ng-model="ctrlScope.email" type="text" required /><br>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确认</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
    {% endverbatim %}
    <div class="top_right" ng-if="!user"><a href="/auth/login/?next={% url "main" %}">登录</a></div>
    <div class="top_right" ng-if="user">当前用户： {{ username | safe }} &nbsp&nbsp<a href="/auth/logout/?next={% url "main" %}">注销</a></div>
    {% verbatim %}
    <div class="container theme-showcase" role="main">

        <div class="row">
            <div class="col-sm-12" style="height:60px;line-height: 60px;margin: 5px 0;">
                <img alt="logo" src="/static/img/logo_aupres.jpg" style="margin-left: 0px;height:45px;margin-top: 13px">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 column">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-455321" data-toggle="tab">全部通讯录</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">

                <div class="tab-content">
                    <div class="tab-pane active" id="panel-455321">
                        <div style="border-color: #ddd;
                        border-left-width: 1px;
                        border-right-width: 1px;
                        border-left-style: solid;
                        border-right-style: solid"
                             class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select style="display: inline-block; width: auto"
                                            class="form-control"
                                            ng-model="selDepart1"
                                            ng-change="applyFilter();expandSelector(selDepart1);"
                                            ng-options="item.department1 for item in departments1"></select>
                                    <select style="display: inline-block; width: auto"
                                            class="form-control"
                                            ng-model="selDepart2"
                                            ng-change="applyFilter()"
                                            ng-show="selDepart1.department2"
                                            ng-options="item1.department2 for item1 in selDepart1.department2"></select>
                                    <form style="display: inline-block">
                                    <input style="display: inline-block; width: auto"
                                           class="form-control"
                                           type="text"
                                           ng-model="filterVal"
                                           ng-keypress="keypressed($event)">
                                    </form>

                                    <button style="display: inline-block; width: auto"
                                            class="btn btn-default"
                                            type="button"
                                            ng-click="applyFilter()">
                                        筛选
                                    </button>
                                </div>

                                <div style="direction: rtl" class="col-sm-6">
                                    <button style="display: inline"
                                            class="btn btn-default"
                                            ng-click="toEmails()">群发邮件</button>
                                    <button style="display: inline"
                                            class="btn btn-default"
                                            ng-show="user"
                                            ng-click="download()">下载</button>
                                    <button style="display: inline"
                                            class="btn btn-default"
                                            ng-show="user"
                                            ng-click="open('add')">添加</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    {{ selectRow }}
                                    <div class="table table-striped table-bordered"
                                         style="height: 485px; overflow-y: auto; margin-bottom: auto"
                                         ng-grid="gridOptions"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-muted">
                                    如发现通讯录记录错误<br>
                                    分公司错误发送至: duhui@shiseido.cn<br>
                                    北京工厂、富力中心总部通讯录错误发送至: jinjiangcuo@shiseido.cn</div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
{% endverbatim %}